:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: figtree-italic;
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: figtree;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--yellow);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 384px;
  height: 522px;
  border: 1px solid var(--black);
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
  box-shadow: 16px 16px var(--black);
}

.blog-image {
  width: 336px;
  height: 200px;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  background-color: var(--yellow);
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  width: 82px;
  height: 29px;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  color: var(--black);
}

.publish-date {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: var(--black);
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  text-decoration: none;
  color: var(--black);
}

.title:hover {
  color: var(--yellow);
}

.description {
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--grey);
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
}

.user-pic {
  width: 32px;
  height: 32px;
}

.author-name {
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  color: var(--black);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 327px;
    height: 501px;
    border-radius: 20px;
    box-shadow: 8px 8px var(--black);
    padding: 24px;
  }
  .blog-image {
    width: 279px;
    height: 200px;
    object-fit: cover;
  }
  .category {
    width: 73px;
    height: 26px;
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
  }
  .publish-date {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 30px;
    text-align: left;
  }
  .description {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
}
